/*----------universal code-------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-------------share font-------------------*/
.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/*------------------nav style--------------*/